<aside>
    <div id="aside-content">
        <div id="side-bar-logo">
            <h1>Not-</h1>
            <h5>Amazon</h5>
        </div>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                
                <li><a href="/cart">CART</a></li>
                {{#if user}}
                {{#if user.isAdmin}}
                <li><a href="/shoes/add">ADD SHOES</a></li>
                {{/if}}

                <li><a href="/users/logout">LOGOUT</a></li>
                {{else}}
                <li><a href="/users/login">LOGIN</a></li>
                <li><a href="/users/register">REGISTER</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</aside>

<nav class="nav-bar">

    <div id="navPopUp" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>


        <div id="navMenu" class="">

            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/cart">CART</a></li>
                {{#if user}}
                {{#if user.isAdmin}}
                <li><a href="/shoes/add">ADD SHOES</a></li>
                {{/if}}
            
                <li><a href="/users/logout">LOGOUT</a></li>
                {{else}}
                <li><a href="/users/login">LOGIN</a></li>
                <li><a href="/users/register">REGISTER</a></li>
                {{/if}}
            </ul>

        </div>
        <!--#navMenu-->

    </div>
    <!--id="navPopUp"-->


</nav>
