<div class= "jumbotron text-center">
<h1 class="display-3">{{{title}}}</h1>
<p class="lead">Add your personal stuff</p>
<a href="personalstuff/add" class="btn btn-dark btn-lg">Add personal stuff</a>
</div>