<div id="product-details">
    <div class="product-photos">
        <div class="main-photo">
            <img src="images/BV8016_445_A_PREM.jpeg">

        </div>
        <!--.main-photo-->
        <div class="more-photos">
            <div class="small-photo">
                <img src="images/BV8016_445_A_PREM.jpeg">
            </div>
            <div class="small-photo">
                <img src="images/BV8016_445_A_PREM.jpeg">
            </div>
            <div class="small-photo">
                <img src="images/BV8016_445_A_PREM.jpeg">
            </div>
            <div class="small-photo">
                <img src="images/BV8016_445_A_PREM.jpeg">
            </div>

        </div>
        <!--.more-photos-->

    </div>
    <!--.product-photos-->
    <div class="product-description">
        <div class="product-heading">
            <h3>$180</h3>
            <h2>Product Name</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae eveniet culpa officia quidem mollitia
            impedit iste
            asperiores nisi reprehenderit consequatur, autem, nostrum pariatur enim?</p>
        <div id="qty-div">
            <label for="qty">Qty</label>
            <input type="number" id="qty" placeholder="1">
        </div>
        <button id="add-to-cart">Add to cart</button>
    </div>
</div>