{{!-- //alerting error message --}}

{{#each errors}}
<div class= "alert alert-danger">{{text}}</div>
{{else}}
<h3> Add shoes</h3>
<div id="add-form">
  <form action="/shoes/add" enctype="multipart/form-data" method="post">

    <div>
      <input type="file" name="img" placeholder="Product Image">
    </div>


    <div>
      <input type="text" name="name" placeholder="Product Name">
    </div>

    <div>
      <input type="text" name="price" placeholder="Price">
    </div>

    

    <div id="size-qty-div">
      <ul id="sizes-ul">
        <li>
          <input type="text" name="sizes[0][size]" placeholder="Size">
          <input type="text" name="sizes[0][qty]" placeholder="Qty">
        </li>
      </ul>
    </div>
    <button id="add-size-btn">Add Size</button>

    

    <div>
      <textarea rows="10" cols="10" name="description" placeholder="Product Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Hit Me</button>
  </form>
</div>
{{/each}}

{{!-- <input type="checkbox" class="form-control" name="9" value="9">
<input type="checkbox" class="form-control" name="9.5" value="9">
<input type="checkbox" class="form-control" name="10" value="9">
<input type="checkbox" class="form-control" name="10.5" value="9">
<input type="checkbox" class="form-control" name="11" value="9">
<input type="checkbox" class="form-control" name="11.5" value="9">
<input type="checkbox" class="form-control" name="12" value="9"> --}}